[core]
  editor = nvim -c 'startinsert'
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore_global
  # pager = less

[init]
  defaultBranch = main

[push]
  default = simple
  # Automatically changes upstream to branch name
  autoSetupRemote = true


# [difftool]
#     prompt = true
#
# [diff]
#     tool = nvimdiff
#
# [difftool "nvimdiff"]
#     cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
#
# [merge]
#   tool = vimdiff
#
# [mergetool]
#   prompt = true
#
# [mergetool "vimdiff"]
#   cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'


# BEGIN difftastic

[diff]
  tool = difftastic
  external = difft

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

# Use a pager for large output, just like other git commands.
[pager]
  difftool = true

# `git dft` is less to type than `git difftool`.
[alias]
  dft = difftool

# END difftastic


[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f

[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true

[credential]
  helper = osxkeychain

[color]
  ui = auto

# [color "branch"]
#   current = yellow bold
#   local = green bold
#   remote = cyan bold
#
# [color "diff"]
#   meta = yellow bold
#   frag = magenta bold
#   old = red bold
#   new = green bold
#   whitespace = red reverse
#
# [color "status"]
#   added = green bold
#   changed = yellow bold
#   untracked = red bold

[alias]
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative

# Force the use of SSH even on a HTTPS URL
# [url "git@github.com:"]
#   insteadOf = https://github.com/

[include]
  # For username / github token / etc
  path = $HOME/.gitconfig.local

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[user]
  name = Claus Eggers Sørensen
  email = clauseggers@users.noreply.github.com
