[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=T
Comment=T twitter client
Exec=/home/claus/.gem/ruby/2.2.0/bin/t stream timeline
Terminal=true
Categories=Command line
Icon=utilities-terminal
Name[en_US]=T
