[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=T
Comment=T twitter client
Exec=/usr/bin/gnome-terminal --geometry=80x60 -e 't stream timeline'
Terminal=true
Categories=Command line
Icon=utilities-terminal
Name[en_US]=T
